* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d5dad8;
}

.menu-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

header {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    background-color: #4CAF50;
    padding: 10px;
    color: white;
    border-radius: 8px 8px 0 0;
}

header h1 {
    font-size: 1.2rem;
    margin-left: 20px;
}

.back-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.menu-item:hover {
    background-color: #f1f1f1;
}

footer {
    margin-top: 20px;
}

footer p {
    font-size: 0.8rem;
    color: #888;
}
